/* CalendarStyles.css */

/* 캘린더 내비게이션 바 */

.react-calendar {
  border: none;
  border-radius: 20px 20px 0 0;
  text-decoration-line: none;
}
.react-calendar__navigation {
  font-family: "LINESeed";
}

/* 현재 선택된 날짜의 월 및 연도 표시 */
.react-calendar__navigation__label {
  font-family: "SB어그로"; /* 폰트 패밀리 설정 */
  font-weight: 300;
}

/* 이전 달로 가는 버튼 */
.react-calendar__navigation__prev-button {
  font-family: "LINESeed"; /* 폰트 패밀리 설정 */
}

/* 이전 달로 가는 두 번째 버튼 (숨김) */
.react-calendar__navigation__prev2-button {
  display: none; /* 이 버튼을 시각적으로 제거 */
}

/* 다음 달로 가는 두 번째 버튼 (숨김) */
.react-calendar__navigation__next2-button {
  display: none; /* 이 버튼을 시각적으로 제거 */
}

/* 다음 달로 가는 버튼 */
.react-calendar__navigation__next-button {
  font-family: "LINESeed"; /* 폰트 패밀리 설정 */
}

/* 월별 뷰 스타일 */
.react-calendar__month-view {
  font-family: "LINESeed"; /* 폰트 패밀리 설정 */
  font-size: 16px;
}

.react-calendar__navigation {
  background-color: #1AD8ED;
  border-bottom: 4px solid #1b95ec;
  height: 80px;
  border-radius: 20px 20px 0 0;

  span {
    font-size: 24px;
    color: white;
  }
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #1AD8ED;
  border-radius: 20px 20px 0 0;
}

.react-calendar__month-view {
  padding: 12px 32px;
  font-size: 16px;
  font-weight: 500;
}

.react-calendar__month-view__weekdays {
  font-size: 18px;
  color: #052B71;
  font-weight: 400;
}

abbr[title] {
  border-bottom: none;
  text-decoration: none !important; 
}

.react-calendar__tile {
  text-align: center;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
/*hover, focus, 선택됐을 시 */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus,
.react-calendar__tile--active {
  background: #67c431;
  border-radius: 14px;
}

.react-calendar__tile--now {
  background: #ffcd05;
  border-radius: 14px;
  position: relative; /* 자식 요소에 대한 포지션 설정 */
}

.today-label {
  position: absolute;
  top: -1px; /* 조정 필요 */
  left: 8px; /* 조정 필요 */
  font-size: 12px; /* 작게 표시 */
  color: black; /* 텍스트 색상 */
}
/*hover, focus 시 */
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: blue;
  border-radius: 14px;
}

.react-calendar__month-view__days__day {
  height: 40px;
}