spring:
  application:
    name: backend

  config:
    import: optional:file:.env[.properties]

  jackson:
    time-zone: Asia/Seoul

  security:
    oauth2:
      client:
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

jwt:
  access-expiration: ${ACCESS_EXPIRATION}
  refresh-expiration: ${REFRESH_EXPIRATION}
  secret-key: ${SECRET_KEY}

springdoc:
  swagger-ui:
    groups-order: DESC

openai:
  api:
    key: ${OPEN_AI_API_KEY}

--- # 로컬 설정
spring:
  config:
    activate:
      on-profile: local

  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: ${OAUTH_KAKAO_ID}
            client-secret: none
            client-name: kakao
            redirect-uri: ${LOCAL_OAUTH_KAKAO_REDIRECT}
            authorization-grant-type: authorization_code
            client-authentication-method: none

  datasource:
    url: jdbc:mariadb://${LOCAL_DB_URL}
    username: ${LOCAL_DB_USERNAME}
    password: ${LOCAL_DB_PASSWORD}
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
      dialect: org.hibernate.dialect.MariaDBDialect
    defer-datasource-initialization: true

    properties:
      hibernate:
        format_sql: false
        show_sql: true

  sql:
    init:
      data-locations: classpath*:db/data.sql
      mode: always
      platform: mariadb

  data:
    redis:
      host: ${LOCAL_REDIS_HOST}
      port: ${LOCAL_REDIS_PORT}

  kafka:
    bootstrap-servers: ${LOCAL_KAFKA_BOOTSTRAP_SERVERS}
    producer:
      key-serializer:
    consumer:
      group-id: ${LOCAL_KAFKA_CONSUMER_GROUP_ID}

callback: ${LOCAL_CALLBACK_URI}

secret-key-path: ${LOCAL_FCM_SECRET_KEY_PATH}

--- # 개발 서버 설정
spring:
  config:
    activate:
      on-profile: dev

  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: ${OAUTH_KAKAO_ID}
            client-secret: none
            client-name: kakao
            redirect-uri: ${OAUTH_KAKAO_REDIRECT}
            authorization-grant-type: authorization_code
            client-authentication-method: none

  datasource:
    url: jdbc:mariadb://${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
      dialect: org.hibernate.dialect.MariaDBDialect

    properties:
      hibernate:
        format_sql: false

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
    producer:
      key-serializer:
    consumer:
      group-id: ${KAFKA_CONSUMER_GROUP_ID}

callback: ${CALLBACK_URI}

secret-key-path: ${FCM_SECRET_KEY_PATH}